.comments-list {
  margin: 0 -.75em;
  background-color: #F7F7F7;
  border-top: 1px solid #4A4A4A; }
  .comments-list nav {
    background: none;
    display: flex;
    align-items: center;
    padding: .75em 1.5em; }
  .comments-list ul {
    margin: 0 .75em; }
  .comments-list h4 {
    margin: 0; }
  .comments-list .new-comment-link {
    font-size: .75em;
    font-weight: bold; }
  .comments-list .no-comments {
    padding: 0 2.5em 1em 0;
    text-align: right;
    color: #4A4A4A; }
    .comments-list .no-comments svg {
      transform: rotate(130deg) translateX(-10px) translateY(-10px); }

.comment-container {
  display: flex;
  padding: 1em 0;
  border-top: 1px solid rgba(74, 74, 74, 0.15); }
  .comment-container .votescore-container {
    display: flex;
    align-items: stretch;
    padding: 0 .5em 0 0;
    border-right: 1px solid rgba(74, 74, 74, 0.15); }
  .comment-container .votescore {
    display: flex;
    min-width: 1.75em;
    font-size: 2.25em;
    font-weight: 400;
    padding: 0 .15em 0 0;
    justify-content: center; }
  .comment-container .vote-buttons {
    margin: 0; }
    .comment-container .vote-buttons .upvote,
    .comment-container .vote-buttons .downvote {
      border: 0;
      padding: 0;
      background: none; }
  .comment-container .comment,
  .comment-container .comment-form {
    padding: 0 0 0 .5em; }
    .comment-container .comment .icon-btn,
    .comment-container .comment-form .icon-btn {
      background: none;
      border: 0; }
  .comment-container .comment-header {
    display: flex;
    justify-content: space-between; }
  .comment-container .comment {
    width: 100%; }
  .comment-container .author,
  .comment-container .timestamp {
    font-size: .75em;
    margin: 0; }
  .comment-container .timestamp {
    color: #4A4A4A; }

.new-comment .category-nav h1,
.new-comment .category-nav a {
  opacity: .5; }

.new-comment .category-nav h1 {
  margin: .5em 0;
  font-size: 1em; }

.new-comment .category-nav .subtitle {
  display: none; }

.new-comment .post-nav {
  background-color: #09BFBF; }

.new-comment .post {
  padding: 1em 0; }

.comment-form {
  width: 100%; }
  .comment-form .subheader {
    display: flex;
    justify-content: space-between; }
  .comment-form input,
  .comment-form textarea {
    margin: .25em 0;
    background-color: #fff; }
  .comment-form input:read-only {
    opacity: .5; }
  .comment-form textarea {
    height: 8em; }
  .comment-form .edit-btn {
    padding: .5em;
    border: 1px solid rgba(74, 74, 74, 0.5);
    background-color: #ccc; }
