.post {
  padding: 1em 0; }
  .post .author {
    font-size: .75em; }

.post-page .category-nav h1,
.post-page .category-nav a {
  opacity: .5; }

.post-page .category-nav h1 {
  margin: .5em 0;
  font-size: 1em; }

.post-page .post-nav {
  background-color: #09BFBF; }

.post-list .no-posts {
  padding: 0 2.5em 1em 0;
  text-align: right;
  color: #4A4A4A; }
  .post-list .no-posts svg {
    transform: rotate(130deg) translateX(-10px) translateY(-10px); }

.post-form .field,
.post-form .icon-btn,
.comment-form .field,
.comment-form .icon-btn {
  margin: 1em 0; }

.post-form label,
.comment-form label {
  display: block;
  padding: .5em 0; }

.post-form .icon-btn,
.comment-form .icon-btn {
  font-size: 1em;
  padding: .5em;
  background-color: #eee;
  border: 1px solid #ccc; }
