@import "../../variables.scss";

.post {
  padding: 1em 0;

  .author {
    font-size: .75em;
  }
  .body {
    margin: 1em 0 1.5em;
  }
}
.post-score {
  border-top: 1px solid $color-gray-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0 0;

  ul {
    margin: 0;
  }
  button {
    border: 0;
    background: none;
    color: $color-gray-light;
    cursor: pointer;

    &:hover {
      color: $color-amethyst;
    }
  }
  .score {
    color: $color-amethyst;
    text-align: center;

    em {
      display: block;
      font-size: .5em;
      font-style: normal;
    }
    strong {
      font-size: 1.75em;
      line-height: 50%;
    }
  }
  .post-vote {
    display: flex;
  }
}
.post-page {
  .category-nav {
    h1,
    a {
      opacity: .5;
    }
    h1 {
      margin: .5em 0;
      font-size: 1em;
    }
  }
  .post-nav {
    background-color: $color-tiffany-blue;
  }
}
.post-list {
  .no-posts {
    padding: 0 2.5em 1em 0;
    text-align: right;
    color: $color-outer-space;

    svg {
      transform: rotate(130deg) translateX(-10px) translateY(-10px);
    }
  }
}
.post-form,
.comment-form {
  .field,
  .icon-btn {
    margin: 1em 0;
  }
  label {
    display: block;
    padding: .5em 0;
  }
  input:read-only {
    opacity: .5;
  }
  .icon-btn {
    font-size: 1em;
    padding: .5em;
    background-color: #eee;
    border: 1px solid #ccc;
  }
}