@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  letter-spacing: 0;
}

a {
  color: $color-black;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

input,
textarea {
  width: 100%;
  font-size: 1em;
  padding: .5em;
  border-radius: .25em;
  border: 1px solid rgba($color-outer-space, .25);
  background-color: $color-white-smoke;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 10em;
}

header {
  background-color: $color-outer-space;
  padding: .5em;
  height: 2em;
  display: flex;
  align-items: center;

  h1,
  a {
    color: $color-white-smoke;
  }
  a,
  svg,
  .text {
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 1.25em;
    font-weight: normal;
  }
  .site-title,
  .text {
    padding: 0 0 0 .25em;
  }
}
.homepage-header,
.global-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .new-post-link {
    font-size: .75em;
    margin: 0 .5em 0;
  }
}
.global-header {
  .category-select {
    display: flex;
    font-size: .75em;

    select {
      font-weight: bold;
    }
  }
}
.contents {
  padding: 0 .75em;
  line-height: 145%;
  overflow: hidden;
  min-height: 20em;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -.75em;
  padding: 0 .75em;
  background-color: $color-amazonite;
  box-sizing: border-box;
  position: relative;

  &.no-category {
    background-color: $color-gray-light;
  }
  .new-item-link,
  .subtitle {
    display: flex;
    align-self: center;
    color: $color-outer-space;
  }
  .new-item-link {
    font-size: .8em;
    font-weight: bold;
    text-align: right;
    display: block;
    min-width: 5em;
    margin: 0 0 0 .5em;
  }
  .subtitle {
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
  }
  a,
  em,
  strong {
    display: block;
    font-style: normal;
    line-height: 100%;
  }
  a {
    color: $color-outer-space;
  }
  em {
    font-weight: normal;
    font-size: .25em;
    text-transform: uppercase;
    color: $color-outer-space;
  }
  .selected-option {
    cursor: pointer;
  }
  .options {
    display: none;
    padding: .5em 0 0;
    background-color: $color-amethyst;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;

    input {
      display: none;
    }
    label {
      display: flex;
      padding: .75em .75em .75em .5em;
      cursor: pointer;

      &:hover {
        background-color: rgba($color-white-smoke, .5);
      }
    }
    .selected {
      color: $color-white-smoke;
    }
    &.open {
      display: block;
    }
  }
}
.sorting-container {
  padding: 1em 0 .5em;
  display: flex;
  justify-content: flex-end;

  &.disabled {
    pointer-events: none;
    opacity: .25;
  }
  .sort-title {
    color: $color-outer-space;
    padding: 0 .75em 0;
    min-width: 8em;
    text-align: right;
  }
  .sorting-options {
    width: 20em;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
  }
  .sort-field {
    display: flex;
    align-items: center;
    color: $color-outer-space;
    border: 1px solid $color-outer-space;
    padding: 0 .5em;
    font-size: .75em;
    border-radius: .25em;

    &.selected {
      color: $color-white;
      background-color: $color-amethyst;
      border: 1px solid $color-amethyst;
    }
    input {
      display: none;
    }
    .order,
    span,
    svg {
      display: flex;
    }
    span {
      margin-left: .25em;
    }
  }
}