body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  letter-spacing: 0; }

a {
  text-decoration: none; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

header {
  background-color: #4A4A4A;
  padding: .5em;
  height: 2em;
  display: flex;
  align-items: center; }
  header h1,
  header a {
    color: #F7F7F7; }
  header a,
  header svg,
  header .text {
    display: flex;
    align-items: center; }
  header h1 {
    font-size: 1.25em;
    font-weight: normal; }
  header .text {
    padding: 0 0 0 .25em; }

.app {
  padding: 0 .75em; }

.category-page nav,
.post-page nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -.75em;
  padding: 0 .75em;
  background-color: #00CEAF; }
  .category-page nav .new-item-link,
  .post-page nav .new-item-link {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: .8em; }

.category-page a,
.post-page a {
  color: #4A4A4A; }

.category-page em,
.category-page strong,
.post-page em,
.post-page strong {
  display: block;
  font-style: normal;
  line-height: 100%; }

.category-page em,
.post-page em {
  font-weight: normal;
  font-size: .25em;
  text-transform: uppercase;
  color: #4A4A4A; }

.post-page .category-nav {
  opacity: .5; }

.post-list li,
.post-list .post-link,
.post-list .title-container {
  display: flex;
  align-items: center; }

.post-list li {
  background-color: #F7F7F7;
  margin-bottom: .5em;
  padding: 0 .5em;
  min-height: 3em; }

.post-list .post-link {
  flex-grow: 1;
  align-items: stretch; }

.post-list .title-container {
  flex-direction: column;
  align-items: stretch; }

.post-list .author {
  font-size: .75em; }

.post-list .comments {
  display: flex;
  margin-left: auto;
  align-items: center; }

.comments-list {
  margin: 0 -.75em;
  background-color: #F7F7F7; }
  .comments-list nav {
    background: none;
    display: flex;
    align-items: center;
    padding: .75em 1.5em; }
  .comments-list ul {
    margin: 0 .75em; }
  .comments-list h3 {
    margin: 0; }

.comment-container {
  display: flex;
  padding: 1em 0;
  border-top: 1px solid #4A4A4A; }
  .comment-container .votescore-container {
    display: flex;
    align-items: stretch;
    padding: 0 .5em 0 0;
    border-right: 1px solid #4A4A4A; }
  .comment-container .votescore {
    display: flex;
    min-width: 1.75em;
    font-size: 2.5em;
    font-weight: 400;
    padding: 0 .15em 0 0;
    justify-content: center; }
  .comment-container .vote-buttons {
    margin: 0; }
    .comment-container .vote-buttons .upvote,
    .comment-container .vote-buttons .downvote {
      border: 0;
      padding: 0;
      background: none; }
  .comment-container .comment,
  .comment-container .comment-form {
    padding: 0 0 0 .5em; }
  .comment-container .author {
    margin: 0; }
  .comment-container .timestamp {
    font-size: .75em; }
