// Color
$color-white-smoke: #F7F7F7;
$color-outer-space: #4A4A4A;
$color-amazonite: #00CEAF;
$color-tiffany-blue: #09BFBF;
$color-blue-violet: #863CE8;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  letter-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

header {
  background-color: $color-outer-space;
  padding: .5em;
  height: 2em;
  display: flex;
  align-items: center;

  h1,
  a {
    color: $color-white-smoke;
  }
  a,
  svg,
  .text {
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 1.25em;
    font-weight: normal;
  }
  .text {
    padding: 0 0 0 .25em;
  }
}
.app {
  padding: 0 .75em;
}
.category-page,
.post-page {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 -.75em;
    padding: 0 .75em;
    background-color: $color-amazonite;

    .new-item-link {
      display: flex;
      align-self: center;
      font-weight: bold;
      font-size: .8em;
    }
  }
  a {
    color: $color-outer-space;
  }
  em,
  strong {
    display: block;
    font-style: normal;
    line-height: 100%;
  }
  em {
    font-weight: normal;
    font-size: .25em;
    text-transform: uppercase;
    color: $color-outer-space;
  }
}
.post-page {
  .category-nav {
    opacity: .5;
  }
}
.post-list {
  li,
  .post-link,
  .title-container {
    display: flex;
    align-items: center;
  }
  li {
    background-color: $color-white-smoke;
    margin-bottom: .5em;
    padding: 0 .5em;
    min-height: 3em;
  }
  .post-link {
    flex-grow: 1;
    align-items: stretch;
  }
  .title-container {
    flex-direction: column;
    align-items: stretch;
  }
  .title,
  .author {
  }
  .author {
    font-size: .75em;
  }
  .comments {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}
.comments-list {
  margin: 0 -.75em;
  background-color: $color-white-smoke;

  nav {
    background: none;
    display: flex;
    align-items: center;
    padding: .75em 1.5em;
  }
  ul {
    margin: 0 .75em;
  }
  h3 {
    margin: 0;
  }
}
.comment-container {
  display: flex;
  padding: 1em 0;
  border-top: 1px solid $color-outer-space;

  .votescore-container {
    display: flex;
    align-items: stretch;
    padding: 0 .5em 0 0;
    border-right: 1px solid $color-outer-space;
  }
  .votescore {
    display: flex;
    min-width: 1.75em;
    font-size: 2.5em;
    font-weight: 400;
    padding: 0 .15em 0 0;
    justify-content: center;
  }
  .vote-buttons {
    margin: 0;

    .upvote,
    .downvote {
      border: 0;
      padding: 0;
      background: none;
    }
  }
  .comment,
  .comment-form {
    padding: 0 0 0 .5em;
  }
  .author {
    margin: 0;
  }
  .timestamp {
    font-size: .75em;
  }
}