body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif; }

a {
  text-decoration: none; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

nav {
  background-color: #4A4A4A;
  padding: .5em;
  height: 2em;
  display: flex;
  align-items: center; }
  nav h1,
  nav a {
    color: #F7F7F7; }
  nav a,
  nav svg,
  nav .text {
    display: flex;
    align-items: center; }
  nav h1 {
    font-size: 1.25em;
    font-weight: normal; }
  nav .text {
    padding: 0 0 0 .25em; }

.app {
  padding: 0 .75em; }

.category-page header {
  display: flex;
  justify-content: space-between; }
  .category-page header .new-post-link {
    display: flex;
    align-self: center; }

.category-page em,
.category-page strong {
  display: block;
  font-style: normal;
  line-height: 100%; }

.category-page em {
  font-weight: normal;
  font-size: .35em;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #4A4A4A; }

.post-list li,
.post-list .post-link,
.post-list .title-container {
  display: flex;
  align-items: center; }

.post-list li {
  background-color: #F7F7F7;
  margin-bottom: .5em;
  padding: 0 .5em;
  min-height: 3em; }

.post-list .post-link {
  flex-grow: 1;
  align-items: stretch; }

.post-list .title-container {
  flex-direction: column;
  align-items: stretch; }

.post-list .author {
  font-size: .75em; }

.post-list .comments {
  display: flex;
  margin-left: auto;
  align-items: center; }
