// Color
$color-black: #000;
$color-white: #fff;
$color-gray-light: #ccc;
$color-gray-lighter: #eee;

$color-white-smoke: #F7F7F7;
$color-outer-space: #4A4A4A;
$color-amazonite: #00CEAF;
$color-tiffany-blue: #09BFBF;
$color-persian-green: #08A8A8;
$color-amethyst: #8D59D1;